@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../images/wallpaper_xl.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 110vh;
    width: 110vw;
    overflow: hidden;
}

#contact[data-state="closed"] {
    left: calc(100% - theme('width.10'));
}

#contact[data-state="opened"] {
    left: 20%;
}

.orange-button {
    @apply justify-center bg-palette-orange-light border-none text-black rounded-full;
}